body {
  font-size: 18px;
  line-height: 1.4;

}
.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30rem;
  top: 0;


}
.top {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  width: 960px;
  height: 4rem;
  margin-left: 10rem;



}
.top p {
  display: inline-block;
  padding-left: 1rem;
  font-size: 1rem;
  font-family: Helvetica;
  color: white;

}
.top img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-top: 1.25rem;
}
#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
  height: 90px;

}
#navigation li {
display: inline-block;
padding: 1rem 2rem;
margin-bottom: 8rem;
font-size: 1rem;
font-family: Helvetica;
color: white;

}
.bold {
  display: flex;
  background-color: white;
  width: 30%;
  float: right;
  margin-top: 10rem;
  margin-right: 8rem;
  padding: 2rem 5rem 2rem 5rem;


}
.bold h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
.container {
display: flex;
flex-direction: column;
margin-top: 3rem;
align-items: center;
}
.three-images img {
  display: inline-block;
  width: 3.5rem;
  margin-right: 5rem;
  padding-left: 4rem;
  padding-right: 1rem;

}
.three p {
  width: 3.5rem;
  display: inline-block;
  font-family: Helvetica;
  padding: 2rem 6rem 3rem 4.5rem;
  text-align: center;
  margin-right: 0;

}
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.info {
  display: inline-block;
  width: 33%;
  margin-top: 3rem;

}
 .info h2 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  height: 1.5rem;
  padding: 0.5rem 3rem 0.5rem 1.25rem;
  margin-left: 0;

}
.info p {
  padding-top: 2rem;
  font-family: Helvetica;
}
.info2 {
display: inline-block;
width: 33%;
margin-left: 5%;
margin-top: 3rem;

}
.info2 h2 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  height: 1.5rem;
  padding: 0.5rem 3rem 0.5rem 1.25rem;
  margin-left: 0;

}
.info2 p {
  padding-top: 2rem;
  font-family: Helvetica;

}
.bottom {
  display: flex;
  flex-direction: column;
  margin: 9rem 4rem;
  background-color: azure;
  height: 10rem;
  justify-content: center;
}
.bottom img {
  height: 1.5rem;
  margin-right: 1rem;
}
.bottom p {
  display: inline-block;
  font-family: Helvetica;
}
